<h3>Work Order Details</h3>


<form class="form-horizontal" [formGroup]="addEditworkOrderDetailsForm" (ngSubmit)="onSubmit(this)">

  <div class="row">

    <div class="col-sm-6">
      <label class="label-pad">Location</label>
      <mat-form-field class="inputBackground">
        <mat-select name="food" formControlName="location">
            <mat-option *ngFor="let loc of locations" [value]="loc.value">
              {{loc.viewValue}}
            </mat-option>
          </mat-select>

      </mat-form-field>
    </div>
    <div class="col-sm-6">

        <mat-label class="label-pad">progress: </mat-label>
        <mat-form-field class="inputBackground">
            <input id="progress"  formControlName="progress" type="number" max=100 min=0  matInput>
            <mat-hint align="start"><strong>Min 0 and Max upto 100</strong> </mat-hint>
        </mat-form-field>
      </div>
  
   
  </div>

  <div class="row">
   
    
    <div class="col-sm-8">
        <mat-label class="label-pad">Description: </mat-label>
        <mat-form-field class="inputBackground">
          <textarea matInput #operation maxlength="30" class="inputField" type="text" id="description"
            formControlName="description" required></textarea>
        </mat-form-field>
      </div>

  </div>




  <p>
    <button type="submit" md-raised-button>Submit</button>
</p>
</form>
